{% extends 'base.html' %}

{% block content %}
    <br><br>
<h1 class="m-5"><a class="text-decoration-none" href="{% url 'add-product-enter' %}">Add New ProductEnter</a></h1>

<table class="table table-info m-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  {% for product in products %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a class="text-decoration-none" href="{% url 'enterProduct' product.generate_code %}">{{ product.product.name }}</a></td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.date }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}