{% extends 'base.html' %}
{% block content %}

    <br><br>
    
<table class="table table-info m-5 me-6">
  <thead>
    <tr>
      
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th class="col">Old Quantity</th>
      <th scope="col">Date</th>
      <th class="col">Description</th>
        <th>Update</th>
        <th>Delete</th>  
    </tr>
  </thead>
  <tbody>
  
    <tr>
      
      <td><a class="text-decoration-none" href="{% url 'enterProduct' product.generate_code %}">{{ product.product.name }}</a></td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.old_quantity }}</td>
        <td>{{ product.date }}</td>
        <td>{{ product.description }}</td>
        <td><a href="{% url 'product-enter-update' product.generate_code %}">Update</a></td>
        <td><a href="#">Delete</a></td>
    </tr>

  </tbody>
</table>


{% endblock %}