
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="  ">

        <div class="vs-hero-carousel hero-layout6" data-globalbgimage="{% static 'assets/img/nature.jpg' %}" data-height="810" data-container="1900" data-slidertype="responsive">
             {% for banner in banners %}
            <div class="ls-slide mt-3" data-ls="duration:12000; transition2d:5; kenburnsscale:1.2;">
                <p style="top:405px; left:375px; font-weight:700; background-size:inherit; background-position:inherit; font-size:65px; color:#fcd55c; font-family:'Advent Pro', sans-serif;" class="ls-l ls-hide-tablet ls-hide-phone" data-ls="offsetxin:-200; durationin:1500; easingin:easeOutQuint;">{{ banner.title }}</p>
                {% if request.user.is_staff %}
                <div style="top:611px; left:375px; background-size:inherit; background-position:inherit;" class="ls-l ls-hide-tablet ls-hide-phone" data-ls="offsetyin:100; durationin:1500; delayin:800; easingin:easeOutQuint; offsetyout:200; durationout:1500; easingout:easeOutQuint;">
                    <a href="{% url 'banner-list' %}" class="vs-btn style5 ls-btn">Banner list<i class="far fa-angle-right"></i></a>
                </div>
                {% endif %}
                <div style="top:611px; left:375px; background-size:inherit; background-position:inherit;" class="ls-l ls-hide-tablet ls-hide-phone" data-ls="offsetyin:100; durationin:1500; delayin:800; easingin:easeOutQuint; offsetyout:200; durationout:1500; easingout:easeOutQuint;">
                </div>
                <img width="687" height="554" src="{{ banner.img.url }}" class="ls-l ls-hide-tablet ls-hide-phone" alt="image" style="top:215px; left:969px; background-size:inherit; background-position:inherit;">
            </div>
            {% endfor %}
        </div>

    </div>
    <!--==============================
    Categories Area
    ==============================-->
    <section class="mb-3 space-top">
        <div class="container">
            <div class="row vs-carousel" data-slide-show="3" id="catboxSlide4645">
                {% for category in categories %}
                    <div class="col-xl-4">
                    <div class="cat-box">
                        <div class="cat-box__img">
                            <img height="850" width="650" src="{{ category.img.url }}" alt="Category image">
                        </div>
                        <h3 class="cat-box__title">{{ category.name }}</h3>
                        <p class="cat-box__text">{{ category.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row text-center justify-content-around align-items-center">
                <div class="col-auto d-none d-sm-block">
                    <button class="slick-arrow" data-slick-prev="#catboxSlide4645" type="button"><i
                            class="fas fa-angle-left"></i></button>
                </div>

                <div class="col-auto d-none d-sm-block">
                    <button class="slick-arrow" data-slick-next="#catboxSlide4645" type="button"><i
                            class="fas fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
      About Us Area
    ==============================-->
    
    <!--==============================
    Feature Products
    ==============================-->


    <section class="sec-bg3 vs-shop-wrapper   " data-bg-src="{% static 'assets/img/shape/bg-00778.png' %}">
        <div class="section-title text-center">
            <div class="sec-icon"><img src="{% static 'assets/img/icons/sec-icon-2.png' %}" alt="icon"></div>
            <span class="sub-title4">Latest Arrivals</span>
            <h2 class="sec-title3">Feature Products</h2>
        </div>
                <div id="season">
                    <div class="row gx-2px justify-content-center">
                        {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="vs-product-box3 ">
                                <div class="product-img">
                                    <a href="shop-details.html"><img
                                            src="{{ product.image.url }}" alt="Product Image"
                                            class="w-100"></a>
                                </div>
                                <div class="actions-btn">
                                    <a href="#" class="icon-btn popup-image"><i class="far fa-search"></i></a>
                                    <a href="{% url 'addWishlist' product.generate_code %}" class="icon-btn" ><i class="bi bi-heart-fill"{% if product.is_like and request.user in product.like_users %} style="color: #ff3d51;" {% endif %} ></i></a>
                                    <a href="{% url 'addProductToCart' product.generate_code %}" class="vs-btn style4 cart-btn"><i class="fal fa-cart-plus"></i>Add
                                        To Cart</a>
                                </div>
                                <div class="product-content">
                                    
                                    <h4 class="product-title"><a class="text-decoration-none" href="shop-details.html">{{ product.name }}</a></h4>
                                    <span class="price"><strong>${{ product.price }}</strong></span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    
        </div>
    </section>
    <!--==============================
    Latest Arrivals
    ==============================-->
    
    <!--==============================
    Feature Area
    ==============================-->
   
    <!--==============================
    Popular Package Box
    ==============================-->
    
	
	
    <footer class="footer-wrapper footer-layout2" data-bg-src="{% static 'assets/img/shape/footer-5-1.jpg' %}">
        <div class="container">
            <div class="widget-area">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="widget  footer-widget">
                            <div class="footer-info-widget">
                                <div class="footer-info-logo">
                                    <img src="{% static 'assets/img/logo-white.svg' %}" alt="Foodano">
                                </div>
                                <div class="footer-info">
                                    <i class="fas fa-phone-alt"></i>
                                    <a href="tel:+387643932728">{{ info.phone }}</a>
                                </div>
                                <div class="footer-info">
                                    <i class="fas fa-map-marker-alt"></i>
                                    {{ info.address }}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Instagram Photos</h3>
                            <div class="sidebar-gallery">
                                {% for info_photo in info.photos %}
                                    <div class="gallery-thumb">
                                    <a class="popup-image" href="#"><img
                                            src="{{ info_photo.photo.url }}" alt="Gallery Image"
                                            class="w-100"></a>
                                </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area" data-bg-src="{% static 'assets/img/shape/footer-5-2.png' %}">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-auto text-center text-lg-start">
                        <div class="copyright">
                            <p class="mb-0 link-inherit">Copyright &copy; 2022 <a href="index.html">Foodano</a> - All
                                Rights Reserved by <a href="https://themeforest.net/user/vecuro_themes">Vecuro</a></p>
                        </div>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <div class="copyright-social">
                            <a href="{{ info.facebook }}"><i class="fab fa-facebook-f"></i>Facebook</a>
                            <a href="{{ info.twitter }}"><i class="fab fa-twitter"></i>Twitter</a>
                            <a href="{{ info.linkedin }}"><i class="fab fa-linkedin-in"></i>Linked In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}